---
import { SITE } from "../site.config";
import { Image } from "astro:assets";
import profile from "../assets/images/profile02.jpg";

const shapeClass = SITE.profileShape === "circle" ? "rounded-full" : "rounded-xl";
---

<section id="about" class="relative bg-bg">
  <div class="container py-16 md:py-24 grid gap-12 md:grid-cols-[auto_1fr] items-center"> <!-- md:grid-cols-2 -->
    <!-- Profile image -->
    <div class="flex justify-center md:justify-end">
      <Image
        src={profile}
        alt={SITE.images.profileAlt}
        class=`w-60 h-60 md:w-72 md:h-72 object-cover shadow-lg ${shapeClass}`
        width="600"
        height="600"
        loading="eager"
        fetchpriority="high"
      />
    </div>

    <!-- About v1 -->
     <div>
      <h2 class="font-serif text-deep text-3xl md:text-4xl font-semibold mb-3">
        Meet Dominique Newman, LMHC
      </h2>
      <p class="mb-3">
        <em>Dominique Newman</em>  is a licensed mental health counselor providing 
        telehealth counseling for individuals and couples across New York. 
        Dominique takes a supportive, empathic, and strength-based approach and will 
        partner with you as you work toward accomplishing your goals. 
        Dominique invests in your success and provides unwavering support and a nonjudgmental safe space.
      </p>
      <p class="mb-3">
        Drawing from evidence-based approaches including Cognitive Behavioral Therapy (CBT) and mindfulness, 
        Dominique provides a calm, collaborative space for growth and healing. She partners with clients to set goals, build resilience, 
        and foster confidence, always in a nonjudgmental and supportive environment.
      </p>
      <p class="mb-1">
        Ages Served:
      </p>
      <p class="mb-3 text-deep/90">
        Young adults (18-24) • Adults (25-64) •  Seniors (65+)
      </p>
      <p class="mb-1">
        Specialties:
      </p>
      <p class="text-deep/90">
        Individuals &amp; couples • Trauma • Anxiety • Depression • Life transitions
      </p>
    </div>

    <!-- About text v2 -->
    <!-- <div>
      <h2 class="font-serif text-primary text-3xl md:text-4xl font-semibold mb-4">
        About
      </h2>
      <p class="text-text/90 leading-relaxed mb-4">
        I’m a licensed mental health counselor dedicated to providing a safe,
        compassionate, and supportive environment for clients. My approach
        blends evidence-based practices with a warm, personalized connection
        to help individuals navigate challenges and work toward meaningful
        growth.
      </p>
      <p class="text-text/90 leading-relaxed">
        Whether you’re coping with anxiety, depression, life transitions, or
        simply seeking support, I’m here to walk alongside you on your journey
        to wellness.
      </p>
    </div> -->
  </div>
</section>
